body {
    padding-top: 70px;
    padding-bottom: 30px;
}
th {
    cursor: pointer;
}

.pagination > li {
    cursor: pointer;
}

.pagination > .disabled {
    cursor: initial;
}

.pagination > li > .glyphicon {
    top: 0px;
}

.form-group > label {
    font-size: 14px !important;
}

.count-per-page {
    padding-top: 36px;
    padding-right: 5px;
}

.overlay {
    /*display:none;*/
    position:absolute;
    background:#fff;
    opacity: 0.8;
}

.img-load {
    position: absolute;
}
