body {
    padding-top: 70px;
    padding-bottom: 30px;
}
th {
    cursor: pointer;
}

.pagination > li {
    cursor: pointer;
}

.pagination > .disabled {
    cursor: initial;
}

.pagination > li > .glyphicon {
    top: 0px;
}

.form-group > label {
    font-size: 14px !important;
}
